<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./compiled.css" />
    <title>Publisher Game Sales Report</title>
</head>
<style>

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
}

    table, th, td {
        border: 2px solid rgba(176, 230, 225, 0.575);
        text-align: center;
        margin-left: 15%;
        margin-right: 15%;
}
</style>
<body class="bg-gradient-to-t from-cyan-black to-cyan-darkest text-white font-kanit font-light min-h-screen">
    <%- include("./nav_publisher.ejs") %>
      <!--end of nav-->

    <div class="text-4xl text-center p-6 font-semibold"><%= data[0].publisherName%></div>
    <div class="text-4xl text-center pb-6 font-semibold">Game Sales Report</div>

    <table style="width:70%" class="px-36 table-auto">
      <thead>
          <tr class="bg-gray-800 bg-opacity-75">
            <th>DEVELOPER</th>
            <th>GAME NAME</th>
            <th>Total Game Sales( Thai Baht)</th>
            <th>Total DLC Sales( Thai Baht)</th>
            <th>Total Sales( Thai Baht)</th>
          </tr>
        </thead>
        <tbody>
          <%  
             var Total = 0 
             var TotalTotal = 0
             var gametotal = 0
             var dlctotal = 0
           for(d of data){ 
              dlctotal = 0
              gametotal = d.price*d.downloaded
              if (typeof d.dlc !== 'undefined'){
                for(c of d.dlc){
                  dlctotal = dlctotal+(c.price*c.downloaded)
                }  
              }
              Total = gametotal+dlctotal
              TotalTotal = TotalTotal+Total
              %>
            <tr>
              <td><%= d.developerName %></td>
              <td><%= d.name %></td>
              <td><%= gametotal %></td>
              <td><%= dlctotal %></td>
              <td><%= Total %></td>
            </tr>
            <%}%>
          <tr>
            <td colspan="4" class="bg-gray-800 bg-opacity-75"> Total Sales </td>
            <td><%= TotalTotal %></td>
          </tr>
         </tbody>
  </table>
    <div class="py-10 px-16">
        <a href="/" class="
          border-2 border-cyan-lightest
          text-cyan-lightest
          rounded-md
          shadow
          inline-block
          transition-colors
          duration-100
          bg-transparent
          hover:text-white
          hover:bg-cyan-lightest
          cursor-pointer
          px-2
          ">Go back to Home page
        </a>
      </div>
    </div>
    <!--end of Content-->
    <div class="footer pt-10">
        <%- include ("./footer") %> 
    </div>

    <!--end of footer-->
</body>
</html>