<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="compiled.css">
    <title>Confirm transaction</title>
</head>
<style>

    .footer {
       position: fixed;
       left: 0;
       bottom: 0;
       width: 100%;
    }
</style>
<body class="font-kanit font-light
bg-gradient-to-tr from-indigo-900 via-cyan-blackest to-cyan-blackest text-white min-h-screen">

    <!--import nav bar-->
    <%- include("./nav") %>
    <div class="flex justify-center">
        <div class="space-y-6">
        <form action="/buydlc?gamename=<%= gamename %>&dlcname=<%= dlcname %>" method="POST">
            <div class="pt-10 text-center text-2xl font-semibold">Review Order</div>
            <div class="pt-2 text-center text-xl font-semibold">Buy Downloadable Content (DLC)</div>
            <div class="pt-10 pb-2">username : <%= username %></div>
            <div class="border-t-2 pt-5 pb-2">Game : <%= gamename %></div>
            <div class="border-t-2 pt-5">DLC</div>
            <div class="pt-2 pb-2"><input type="checkbox" name="dlcname" checked disabled><label><%= dlcname %> : <%= dlcprice %>  THB</label></div>
            <div class="border-t-2 pt-5">Total :   <span class="text-xl"><%= dlcprice %> THB</span> </div>
            <button type="submit" class="pt-10 hover:text-blue-300">CONFIRM</button>
        </form>
        </div>
    </div>
</body>
<footer>
    <div class="footer pt-10">
        <%- include ("./footer") %> 
        </div>
</footer>
</html>