<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buy DLC</title>
</head>
<body>
    <h1>Buy DLC</h1>
    <form action="/buydlc?gamename=<%= gamename %>&dlcname=<%= dlcname %>" method="POST">
        <h1>Confirm your order</h1>
        <div>username : <%= username %></div><br>
        <div>Game : <%= gamename %></div><br>
        <div>DLC</div>
        <div><input type="checkbox" name="dlcname" checked disabled><label><%= dlcname %> :  THB</label></div>
        <div>Total : </div>
        <button type="submit">CONFIRM</button>
    </form>
</body>
</html>