<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buy Game</title>
</head>
<body>
    <h1>Buy Game</h1>
    <form action="/buygame?gamename=<%= data.name %>" method="POST">
        <div>GAME</div>
        <div><input type="checkbox" name="gamename" checked disabled><label><%= data.name %> : <%= data.price %> THB</label></div>
        <br>
        <div>DLC Bundle</div>
        <% for (d of data.dlc) { %>
            <div><input type="checkbox" name="dlcname" value="<%= d.dlcname %>"><%= d.dlcname %> : <%= d.price %> THB </div>
        <% } %> 
        <br>
        <button type="submit">BUY</button>
    </form>
</body>
</html>