<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm transaction</title>
</head>
<body>
    <form action="/buygame?gamename=<%= gamedata.name %>&status=confirm" method="POST">
        <h1>Confirm your order</h1>
        <div>username : <%= username %></div><br>
        <div>Game</div>
        <div>- <%= gamedata.name %> : <%= gamedata.price %> THB </div><br>
        <div>DLC</div>
        <% for(d of dlcdata) { %>
            <div>- <%= d.name %> : <%= d.price %>  </div>
        <% } %> 
        <br>
        <div>Total : <%= totalprice %> THB</div>
        <button type="submit">CONFIRM</button>
    </form>
    
</body>
</html>