<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DLC Infomation</title>
</head>
<body>
    <a href="/gameinfo?name=<%= gamename %> "><%= gamename %> </a> 
    <% for(d in data) { %> 
        <div><%= d.image %> </div>
        <div><%= d.dlcname %> </div>
        <div><%= d.publisherName %> </div>
        <div><%= d.developerName %> </div>
        <div><%= d.releaseDate %> </div>
        <div><%= d.price %> </div>
    <% } %> 
</body>
</html>