<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>
        <%= name %>
    </h1>
    <img src="/img/uploads/<%= image %> "><br><br>
    <div>Description : <%= description %></div><br>
    <div>System Requirement</div>
    <div>OS : <%= systemReq.os %></div>
    <div>CPU : <%= systemReq.cpu %></div>
    <div>RAM : <%= systemReq.ram %></div>
    <div>GPU : <%= systemReq.gpu %></div>
    <div>HDD : <%= systemReq.hdd %></div><br>
    <div>Category : <%= category %></div><br>
    <div>Publisher Name : <%= publisherName %></div><br>
    <div>Developer Name : <%= developerName %></div><br>
    <div>Release Date : <%= releaseDate %></div><br>
    <div>Price : <%= price %></div><br>
    <div>Downloaded : <%= downloaded %></div><br>
</body>

</html>