<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./compiled.css" />
    <title>Document</title>
</head>

<body class="bg-gradient-to-t from-cyan-black to-cyan-darkest text-white font-kanit font-light">
    <% if(role == "publisher"){ %>
        <%- include("./nav_publisher") %>
    <% } else { %> 
        <%- include("./nav") %>
    <% } %>
    <!--end of nav-->
    <br>
    <div class="text-4xl text-center p-6 font-semibold">
        <%= data.name %>
    </div>
    <!--end of Game Name-->
    <div class="flex justify-evenly justify-items-center 
    object-scale-down 
    h-96
    w-full
    bg-gradient-to-tr
    from-gray-900
    to-black-900">
        <img src="/img/games/<%= data.image %> ">
    </div>
    <!--end of image-->
    <div class="px-20">
        <div class="text-l pt-6 px-20">About This Game :
            <p class="text-l text-justify pl-20 pr-40 bg-gray-800 bg-opacity-75 rounded-2xl"><%= data.description %></p>
        </div>
        <div class="text-l pt-6 px-20">System Requirement
            <div class="text-l px-20">OS : <%= data.systemReq.os %></div>
            <div class="text-l px-20">CPU : <%= data.systemReq.cpu %></div>
            <div class="text-l px-20">RAM : <%= data.systemReq.ram %></div>
            <div class="text-l px-20">GPU : <%= data.systemReq.gpu %></div>
            <div class="text-l px-20">HDD : <%= data.systemReq.hdd %></div>
        </div>
        <div class="text-l pt-6 px-20">Category : <%= data.category %></div>
        <div class="text-l pt-3 px-20">Publisher Name : <a href="/publisherinfo?name=<%= data.publisherName %> " class="hover:text-blue-300"><%= data.publisherName %></a></div>
        <div class="text-l pt-3 px-20">Developer Name : <%= data.developerName %></div>
        <div class="text-l px-20 py-3">Release Date : <%= data.releaseDate %></div>
    </div>
        <div class="text-l pt-6 px-20 bg-gray-800 bg-opacity-75">Price : <span class="text-xl"><%= data.price %> Bath (THB)</span></div>
        <div class="text-l py-6 px-20 bg-gray-800 bg-opacity-75">Downloaded : <span class="text-xl"><%= data.downloaded %> Download</span></div>
    <!--end of Game information-->
    <!--List DLC of this game-->
    <div>DLC list</div>
    <% for(d of data.dlc) { %>
        <a href="/dlcinfo?gamename=<%= data.name %>&dlcname=<%= d.dlcname %> "><%= d.dlcname %> </a><br>
    <% } %> 
    <br>
    <div><a href="/buygame?gamename=<%= data.name %> ">BUY THIS GAME & DLC</a></div>
    <%- include ("./footer") %> 
</body>

</html>