<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History</title>
</head>
<body>
  <h4>username : <%= username %> </h4>
    <table style="width:100%; border:1px solid black;">
        <tr>
          <th>Date</th>
          <th>Game name</th> 
          <th>DLC name</th>
          <th>Price (THB)</th>
        </tr>
        <% for(d of data) { %>
          <tr>
            <td><%= d.buydate %> <%= d.buytime %></td>
            <td><%= d.game %></td>
            <td><%= d.dlc %></td>
            <td><%= d.total %></td>
          </tr>
        <% } %> 
      </table>
      <h4>Total : <%= sumtotal %> THB</h4>
      <a href="/userinfo">Back to user profile</a>
</body>
</html>