<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./compiled.css" />
    <title><%= data.publisherName %> History</title>
</head>
<style>
    div.bottom {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
    table, th, td {
        border: 2px solid rgba(176, 230, 225, 0.575);
        text-align: center;
        margin-left: 10%;
        margin-right: 10%;
}
</style>
<body class="bg-gradient-to-t from-cyan-black to-cyan-darkest text-white font-kanit font-light h-screen">
    <%- include("./nav") %>
      <!--end of nav-->

    <div class="text-4xl text-center p-6 font-semibold">History</div>

    <table style="width:80%" class="px-36 table-auto">
        <thead>
            <tr class="bg-gray-800 bg-opacity-75">
              <th>DATE</th>
              <th>GAME TITLE</th>
            </tr>
          </thead>
          <tbody>
            <% for(d of data){ %>
                <tr>
                    <td><%= d.date %></td>
                    <td><a href="/gameinfo?name=<%= d.name %>" class="hover:text-blue-300"><%= d.name %> </a> </td>
                </tr>
            <% } %> 
           </tbody>
    </table>

    <!--end of Content-->
    <div class="bottom">
        <%- include ("./footer") %> 
    </div>

    <!--end of footer-->
</body>
</html>