<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>STORM™</title>
  <link rel="stylesheet" href="compiled.css" />
</head>

<body class="font-kanit font-light">
  <% if(role=="publisher" ){ %>
  <%- include("./nav_publisher") %>
  <% } else if(role == "admin") { %>
  <%- include("./nav_admin.ejs") %>
  <% } else { %>
  <%- include("./nav") %>
  <% } %>

  <!--end of nav-->

  <div class="flex">
    <div class="w-1/6 bg-cyan-blackest text-gray-300">
      <ul class="px-3">
        <li class="space-y-1">
          <h6 class="uppercase tracking-wide text-xl pb-0 pt-3">Search by</h6>
          <a href="/search" class="block hover:text-white px-4">game name</a>
          <h6 class="uppercase tracking-wide text-xl pt-4">Sort by</h6>
          <a href="/store?sort=name&order=ascending" class="block hover:text-white px-4">name </a>
          <a href="/store?sort=downloaded&order=descending" class="block hover:text-white px-4">download </a>
          <a href="/store?sort=price&order=ascending" class="block hover:text-white px-4">price</a>
        </li>
      </ul>
    </div>
    <!--end of sidebar-->

    <div class="px-4 bg-cyan-black text-gray-300 pt-10 flex-auto">
      <div class="mb-10 mx-4 text-white text-lg tracking-wider">
        FEATURED & RECOMMENDED
      </div>


      <!--slideshow 1-->
      <div class="flex">

        <div class="
              m-auto
              max-w-screen-md
              shadow-lg
              hover:shadow-xl
            ">
          <div class="slide1 hidden relative">
            <img src="img/game_demo/pacma.jpg" alt="" class="w-full h-80 object-cover" />
            <div class="slide1-content-wrapper">
              <div class="text-3xl font-normal">PACPACPAC</div>
              <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                officia deserunt mollit anim id est laborum.</div>
            </div>
          </div>
          <div class="slide1 hidden relative">
            <img src="img/game_demo/contra.png" alt="" class="w-full h-80 object-cover" />
            <div class="slide1-content-wrapper">
              <div class="text-3xl font-normal">PACPACPAC</div>
              <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                officia deserunt mollit anim id est laborum.</div>
            </div>
          </div>
          <div class="slide1 hidden relative">
            <img src="img/game_demo/space.png" alt="" class="w-full h-80 object-cover" />
            <div class="slide1-content-wrapper">
              <div class="text-3xl font-normal">PACPACPAC</div>
              <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                officia deserunt mollit anim id est laborum.</div>
            </div>
          </div>
          <div class="slide1 hidden relative">
            <img src="img/game_demo/diablo.png" alt="" class="w-full h-80 object-cover" />
            <div class="slide1-content-wrapper">
              <div class="text-3xl font-normal">PACPACPAC</div>
              <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                officia deserunt mollit anim id est laborum.</div>
            </div>
          </div>
        </div>
      </div>
      <!--dots for slide1-->
      <div class="text-center py-3">
        <span class="dot-1 bg-gray-600" onclick="currentSlide_1(1)"></span>
        <span class="dot-1 bg-gray-600" onclick="currentSlide_1(2)"></span>
        <span class="dot-1 bg-gray-600" onclick="currentSlide_1(3)"></span>
        <span class="dot-1 bg-gray-600" onclick="currentSlide_1(4)"></span>
      </div>

      <!--special offer section-->
      <div class="mb-10 mx-4 text-white text-lg tracking-wider">
        SPECIAL OFFERS
      </div>

      <!--slideshow 2-->
      <div class="flex">
        <div class="
              max-h-80
              overflow-hidden
              m-auto
              max-w-screen-md
              shadow-lg
              hover:shadow-xl
            ">
          <div class="slide2 hidden">
            <div class=" grid grid-cols-2">
              <img src="img/game_demo/pacma.jpg" alt="" class="w-full" />
              <img src="img/game_demo/contra.png" alt="" class="w-full">
            </div>
          </div>
          <div class="slide2 transition-opacity duration-700 hidden">
            <img src="img/game_demo/contra.png" alt="" class="w-full" />
          </div>
          <div class="slide2 transition-opacity duration-700 hidden">
            <img src="img/game_demo/space.png" alt="" class="w-full" />
          </div>
          <div class="slide2 transition-opacity duration-700 hidden">
            <img src="img/game_demo/diablo.png" alt="" class="w-full" />
          </div>
        </div>
      </div>
      <!--dots for slide 2-->
      <div class="text-center py-3">
        <span class="dot-2 bg-gray-600" onclick="currentSlide_2(1)"></span>
        <span class="dot-2 bg-gray-600" onclick="currentSlide_2(2)"></span>
        <span class="dot-2 bg-gray-600" onclick="currentSlide_2(3)"></span>
        <span class="dot-2 bg-gray-600" onclick="currentSlide_2(4)"></span>
      </div>

      <!--tabs for 2nd section-->

      <div class="pt-3 text-blue-400">
        <span class="tab-tab px-3 rounded-t-md tab-selected" onclick="switchTab(event, 'trending')">
          New Releases
        </span>
        <span class="tab-tab px-3 rounded-t-md cursor-pointer hover:text-white" onclick="switchTab(event, 'topSeller')">
          Top Sellers
        </span>
        <span class="tab-tab px-3 rounded-t-md cursor-pointer hover:text-white" onclick="switchTab(event, 'popular')">
          Recommended
        </span>
      </div>
      <!--end of tabs-->
    </div>
  </div>
  <!--end of 1st section-->
  <div class="
        w-full
        bg-gradient-to-t
        from-cyan-black
        to-cyan-darkest
        flex
        justify-end
        text-gray-300
        pb-3
      ">
    <div class="w-5/6 px-4 flex mt-3">
      <div class="bg-cyan-lightblack w-2/3  shadow-md">
        <div id="trending" class="tab-content">
          <!-- sort by dated add -->
          <% 
          var j = 0
          for(var i = data.length - 1; i >= 0; i--){ 
            j += 1
            if(j > 10){
              break
            }
          %>
          <a href="/gameinfo?name=<%= data[i].name %> ">
            <div
              class="flex p-1 m-1 shadow-2xl bg-gradient-to-tr from-cyan-darkest to-gray-600 transition-transform duration-100 transform hover:-translate-y-1 hover:scale-101">
              <div class=" overflow-hidden">
                <img class="w-56 h-36 object-cover" src="/img/games/<%= data[i].image %> " alt="">
              </div>
              <div class="px-3 flex-grow">
                <div class="text-2xl"><%= data[i].name %></div>
                <div><%= data[i].releaseDate %></div>
              </div>

            </div>
          </a>
          <% } %>
        </div>
        <div id="topSeller" class="tab-content hidden">
          <!-- sort by downloaded -->
          <% data.sort((a, b)=> {
              return (a.downloaded - b.downloaded)
            })
            var j = 0
            for(var i = data.length - 1; i >= 0; i--){ 
              j += 1
              if(j > 10){
                break
              }
          %>
          <a href="/gameinfo?name=<%= data[i].name %> ">
            <div
              class="flex p-1 m-1 shadow-2xl bg-gradient-to-tr from-cyan-darkest to-gray-600 transition-transform duration-100 transform hover:-translate-y-1 hover:scale-101">
              <div class=" overflow-hidden">
                <img class="w-56 h-36 object-cover" src="/img/games/<%= data[i].image %> " alt="">
              </div>
              <div class="px-3 flex-grow">
                <div class="text-2xl"><%= data[i].name %></div>
                <div><%= data[i].downloaded %> Downloaded</div>
              </div>

            </div>
          </a>
          <% } %>
        </div>
        <div id="popular" class="tab-content hidden">
          <!-- sort by ? -->
          <% let k = 1;
          for(d of data){ %>
          <a href="/gameinfo?name=<%= d.name %> ">
            <div
              class="flex p-1 m-1 shadow-2xl bg-gradient-to-tr from-cyan-darkest to-gray-600 transition-transform duration-100 transform hover:-translate-y-1 hover:scale-101">
              <div class=" overflow-hidden">
                <img class="w-56 h-36 object-cover" src="/img/games/<%= d.image %> " alt="">
              </div>
              <div class="px-3 flex-grow">
                <div class="text-2xl"><%= d.name %></div>
                <div><%= d.releaseDate %></div>
              </div>
            </div>
          </a>
          <% k++;
            if(k > 10) {
              break
            }
           } %>
        </div>
      </div>
      <!--end of game list in a tab-->

    </div>
  </div>
  <!--end of 2nd section-->

  <%- include ("./footer") %>

  <!--end of content-->

  <script src="./scripts/slideshow.js"></script>
  <script src="./scripts/tabs.js"></script>
</body>

</html>