<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>wong is the leader</title>
  <link rel="stylesheet" href="compiled.css" />
</head>

<body class="font-kanit font-light">
  <% if(role=="publisher" ){ %>
  <%- include("./nav_publisher") %>
  <% } else { %>
  <%- include("./nav") %>
  <% } %>

  <!--end of nav-->

  <div class="flex">
    <div class="w-1/6 bg-cyan-blackest text-gray-300">
      <ul class="px-3">
        <li class="space-y-1">
          <h6 class="uppercase tracking-wide text-xl pb-1">Sort by</h6>
          <a href="/store?sort=name" class="block hover:text-white px-4">name </a>
          <a href="/store?sort=downloaded" class="block hover:text-white px-4">download </a>
          <a href="/store?sort=price" class="block hover:text-white px-4">price</a>
        </li>
      </ul>
    </div>
    <!--end of sidebar-->

    <div class="px-4 bg-cyan-black text-gray-300 pt-10 flex-auto">
      <div class="mb-10 mx-4 text-white text-lg tracking-wider">
        FEATURED & RECOMMENDED
      </div>


      <div class="flex">
        <div class="
              max-h-80
              overflow-hidden
              m-auto
              max-w-screen-md
              shadow-lg
              hover:shadow-xl
            ">
          <div class="slide1 hidden">
            <img src="img/game_demo/pacma.jpg" alt="" class="w-full" />
          </div>
          <div class="slide1 transition-opacity duration-700 hidden">
            <img src="img/game_demo/contra.png" alt="" class="w-full" />
          </div>
          <div class="slide1 transition-opacity duration-700 hidden">
            <img src="img/game_demo/space.png" alt="" class="w-full" />
          </div>
          <div class="slide1 transition-opacity duration-700 hidden">
            <img src="img/game_demo/diablo.png" alt="" class="w-full" />
          </div>
        </div>
      </div>
      <!--end of slides-->
      <div class="text-center py-3">
        <span class="dot-1 bg-gray-600" onclick="currentSlide_1(1)"></span>
        <span class="dot-1 bg-gray-600" onclick="currentSlide_1(2)"></span>
        <span class="dot-1 bg-gray-600" onclick="currentSlide_1(3)"></span>
        <span class="dot-1 bg-gray-600" onclick="currentSlide_1(4)"></span>
      </div>
      <!--end of dots-->

      <!--end of slideshow 1-->
      <div class="mb-10 mx-4 text-white text-lg tracking-wider">
        SPECIAL OFFERS
      </div>

      <div class="flex">
        <div class="
              max-h-80
              overflow-hidden
              m-auto
              max-w-screen-md
              shadow-lg
              hover:shadow-xl
            ">
          <div class="slide2 hidden">
            <div class=" grid grid-cols-2">
              <img src="img/game_demo/pacma.jpg" alt="" class="w-full" />
              <img src="img/game_demo/contra.png" alt="" class="w-full">
            </div>
          </div>
          <div class="slide2 transition-opacity duration-700 hidden">
            <img src="img/game_demo/contra.png" alt="" class="w-full" />
          </div>
          <div class="slide2 transition-opacity duration-700 hidden">
            <img src="img/game_demo/space.png" alt="" class="w-full" />
          </div>
          <div class="slide2 transition-opacity duration-700 hidden">
            <img src="img/game_demo/diablo.png" alt="" class="w-full" />
          </div>
        </div>
      </div>
      <!--end of slides-->
      <div class="text-center py-3">
        <span class="dot-2 bg-gray-600" onclick="currentSlide_2(1)"></span>
        <span class="dot-2 bg-gray-600" onclick="currentSlide_2(2)"></span>
        <span class="dot-2 bg-gray-600" onclick="currentSlide_2(3)"></span>
        <span class="dot-2 bg-gray-600" onclick="currentSlide_2(4)"></span>
      </div>
      <!--end of dots-->

      <!--end of slideshow 2-->

      <div class="pt-3 text-blue-400">
        <span class="tab-tab px-3 rounded-t-md tab-selected" onclick="switchTab(event, 'trending')">
          New and Trending
        </span>
        <span class="tab-tab px-3 rounded-t-md cursor-pointer hover:text-white" onclick="switchTab(event, 'topSeller')">
          Top Sellers
        </span>
        <span class="tab-tab px-3 rounded-t-md cursor-pointer hover:text-white" onclick="switchTab(event, 'popular')">
          Popular Upcoming
        </span>
      </div>
      <!--end of tabs-->
    </div>
  </div>
  <!--end of 1st section-->
  <div class="
        w-full
        bg-gradient-to-t
        from-cyan-black
        to-cyan-darkest
        flex
        justify-end
        text-gray-300
        pb-3
      ">
    <div class="w-5/6 px-4 flex">
      <div class="bg-cyan-lightblack w-2/3 mt-3 shadow-md">
        <div id="trending" class="tab-content">
          <!-- sort by dated add -->
          <% 
          var j = 0
          for(var i = data.length - 1; i >= 0; i--){ 
            j += 1
            if(j >= 6){
              break
            }
          %>
          <div class="w-full border-double border-yellow-500 border-2 py-2 flex">
            <div class=" w-1/3 overflow-hidden"><img src="/img/games/<%= data[i].image %> " alt=""></div>
            <a href="/gameinfo?name=<%= data[i].name %> ">
              <%= data[i].name %>
            </a>
          </div>
          <% } %>
        </div>
        <div id="topSeller" class="tab-content hidden">
          <!-- sort by downloaded -->
          <% data.sort((a, b)=> {
                      return (a.downloaded - b.downloaded)
                      })
                      var j = 0
                      for(var i = data.length - 1; i >= 0; i--){ 
                         j += 1
                         if(j >= 6){
                           break
                        }
          %>
          <div class="w-full border-double border-red-500 border-2 py-2 flex">
            <div class=" w-1/3 overflow-hidden"><img src="/img/games/<%= data[i].image %> " alt=""></div>
            <a href="/gameinfo?name=<%= data[i].name %> ">
              <%= data[i].name %>
            </a>
          </div>
          <% } %>
        </div>
        <div id="popular" class="tab-content hidden">
          <!-- sort by ? -->
          <% for(d of data){ %>
          <div class="w-full border-double border-blue-500 border-2 py-2 flex">
            <div class=" w-1/3 overflow-hidden"><img src="/img/games/<%= d.image %> " alt=""></div>
            <a href="/gameinfo">
              <%= d.name %>
            </a>
          </div>
          <% } %>
        </div>
      </div>
      <!--end of game list-->
    </div>
  </div>
  <!--end of 2nd section-->

  <%- include ("./footer") %>

  <!--end of content-->

  <script src="./scripts/slideshow.js"></script>
  <script src="./scripts/tabs.js"></script>
</body>

</html>