<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./compiled.css" />
    <title>Manage Account</title>
</head>

<body class="font-kanit font-light bg-gradient-to-t from-cyan-black to-cyan-darkest text-white">
    <%- include("./nav_admin") %>
    <!--end of nav-->

    <div class="min-h-no-nav-footer">
        <!--message for delete user account success-->
        <% if(locals.userSuccess) { %>
        <!--remove user account success-->
        <h3 style="color: green;">Remove <%= removeUsername %> account success!</h3>
        <% } %>
        <!--message for delete publisher account success-->
        <% if(locals.publisherSuccess) { %>
        <!--remove publihser account success-->
        <h3 style="color: green;">Remove <%= removeUsername %> account success!</h3>
        <% }%>
        <!--end of message when delete success-->
        <div class="border-b-2 p-3">List of User account</div>

        <% for(d of userdata){ %>
        <div class="py-3 grid grid-cols-2 justify-items-center">
            <div><%= d.username %></div>
            <div>
                <a href="/history?username=<%= d.username %>">View history</a> | <a
                    href="/admin-delete-user?username=<%= d.username %>" class="delete-button">Delete account</a>
            </div>
        </div>
        <% } %>
        <!--end of list of user account-->

        <div class="border-b-2 p-3">List of Publisher account</div>

        <% for(d of publisherdata){ %>
        <div class="py-3 grid grid-cols-2 justify-items-center">
            <div><%= d.username %></div>
            <div>
                <a href="">View history</a> | <a href="/admin-delete-publisher?username=<%= d.username %>"
                    class="delete-button">Delete account</a>
            </div>
        </div>
        <% } %>
        <!--end of list of publihser account-->
    </div>

    <%- include ("./footer") %>

    <script src="scripts/deletion_verification.js"></script>

</body>

</html>