<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="compiled.css" />
    <title>Search</title>
</head>

<body class="font-kanit font-light bg-gradient-to-tr from-indigo-900 via-cyan-blackest to-cyan-blackest text-white">
    <!--import nav-->

    <% if(role=="publisher" ){ %>
    <%- include("./nav_publisher") %>
    <% } else if(role == "admin") { %>
    <%- include("./nav_admin") %>
    <% } else { %>
    <%- include("./nav") %>
    <% } %>

    <div class="flex">
        <!--sidebar-->
        <div class="w-1/6 bg-cyan-blackest text-gray-300">
            <ul class="px-3">
                <li class="space-y-1">
                    <h6 class="uppercase tracking-wide text-xl pb-0 pt-3">Search by</h6>
                    <a href="/search" class="block hover:text-white px-4">game name</a>
                    <h6 class="uppercase tracking-wide text-xl pt-4">Sort by</h6>
                    <a href="/store?sort=name&order=ascending" class="block hover:text-white px-4">name </a>
                    <a href="/store?sort=downloaded&order=descending" class="block hover:text-white px-4">download </a>
                    <a href="/store?sort=price&order=ascending" class="block hover:text-white px-4">price</a>
                </li>
            </ul>
        </div>
        <div class="flex flex-grow justify-center min-h-no-nav-footer">
            <div class="w-3/5">
                <div class="space-y-6 pb-6">
                    <div class="text-8xl">Search game</div>
                    <form action="/search" method="POST">
                        <div class="flex">
                            <% if(locals.keyword) { %>
                            <input type="text" name="searchGame" value="<%= keyword %>"
                                class="text-black flex-grow rounded py-1 px-2">
                            <% } else { %>
                            <input type="text" name="searchGame" class="text-black flex-grow rounded py-1 px-2">
                            <% } %>
                            <button type="submit" class="px-6">SEARCH</button>
                        </div>
                    </form>
                    <%if(locals.data){ %>
                    <div><%= count %> results match your search.</div>
                </div>
                <%for(d of data){%>
                <div
                    class="flex p-1 my-1 bg-gradient-to-tr from-gray-300 to-gray-600 transition-transform duration-100 transform hover:-translate-y-1 hover:scale-101">
                    <a href="/gameinfo?name=<%= d.name %> ">
                        <img src="img/games/<%= d.image %> " alt="err" class="h-32 w-48 object-cover">
                        <div class="px-3 flex-grow">
                            <div class="text-2xl"><%= d.name %> </div>
                            <div><%= d.downloaded %> Downloads</div>
                            <div><%= d.category.toString().replace(/,/g, " ") %> </div>
                            <div class="flex justify-end pt-4 pr-6">
                                <a class="bg-gray-600 rounded px-2 py-1">
                                    <%= d.price %>
                                    BTC</a>
                            </div>
                        </div>
                    </a>
                </div>
                <%}%>
                <%}%>
            </div>
        </div>
    </div>

</body>

</html>