<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./compiled.css">
    <title>Store</title>
</head>

<body class="font-kanit font-light">
    <!-- <h1>List all game</h1>
    <h4>Sort by : <%= sort %> </h4>
    <% for(d of data){ %>
    <a href="/gameinfo?name=<%= d.name %> "><%= d.name %></a><br>
    <% } %> -->

    <!--add navigation-->
    <%- include("./nav") %>

    <!--content wrapper-->
    <div class="flex">
        <!--Sidebar-->
        <div class="w-1/6 bg-cyan-blackest text-gray-300">
            <ul class="pl-3">
                <li class="space-y-1">
                    <h6 class="uppercase tracking-wide text-xl pb-1">Sort by</h6>
                    <% if(sort === "name") { %>
                    <div class="bg-gradient-to-r from-fuchsia-700 to-purple-800 pl-4 rounded-l">
                        name</div>
                    <% } else { %>
                    <a href="/store?sort=name&order=ascending" class="block hover:text-white px-4 ">name </a>
                    <% } %>
                    <% if(sort === "downloaded") { %>
                    <div class="bg-gradient-to-r from-fuchsia-600 to-purple-800 pl-4 rounded-l-full">download</div>
                    <% } else { %>
                    <a href="/store?sort=downloaded&order=ascending" class="block hover:text-white px-4">download </a>
                    <% } %>
                    <% if(sort === "price") { %>
                    <div class="bg-gradient-to-r from-fuchsia-600 to-purple-800 pl-4 rounded-l-full">price</div>
                    <% } else { %>
                    <a href="/store?sort=price&order=ascending" class="block hover:text-white px-4">price</a>
                    <% } %>
                </li>
            </ul>
        </div>
        <!--queries-->
        <div class="bg-cyan-black w-5/6 text-white">
            <div class="p-6">
                <div class="flex pt-3 pb-6 justify-between">
                    <div class="text-4xl font-normal tracking-widest">
                        DISCOVER
                    </div>
                    <div class="flex flex-col justify-center relative pr-12" id="dropdown-sort">
                        <img src="img/icons/sort.svg" class="w-12 h-8 bg-white rounded-full group-hover:bg-indigo-300">
                        <ul class="top-10 right-10 hidden absolute bg-white text-black">
                            <li class="p-2"><a href="/store?sort=<%= sort %>&order=ascending">Ascending</a></li>
                            <li class="p-2"><a href="/store?sort=<%= sort %>&order=descending">Descending</a></li>
                        </ul>
                    </div>
                </div>
                <% for(d of data){ %>
                <div class="flex p-1 my-1 bg-gradient-to-tr from-gray-300 to-gray-600">
                    <img src="img/games/<%= d.image %> " alt="err" class="h-36 w-36 object-cover">
                    <div class="px-3">
                        <a href="/gameinfo?name=<%= d.name %> " class=""><%= d.name %> </a>
                        <div><%= d.downloaded %> Downloads</div>
                        <div><%= d.price %> THB</div>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>
</body>

</html>