<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./compiled.css">
    <title>Store</title>
</head>

<body class="font-kanit font-light">
    <!-- <h1>List all game</h1>
    <h4>Sort by : <%= sort %> </h4>
    <% for(d of data){ %>
    <a href="/gameinfo?name=<%= d.name %> "><%= d.name %></a><br>
    <% } %> -->

    <!--add navigation-->
    <%- include("./nav") %>

    <!--content wrapper-->
    <div class="flex">
        <!--Sidebar-->
        <div class="w-1/6 bg-cyan-blackest text-gray-300">
            <ul class="pl-3">
                <li class="space-y-1">
                    <h6 class="uppercase tracking-wide text-xl pb-1">Sort by</h6>
                    <% if(sort === "name") { %>
                    <div class="bg-gradient-to-r from-fuchsia-700 to-purple-800 pl-4 rounded-l-full">
                        name</div>
                    <% } else { %>
                    <a href="/store?sort=name&order=ascending" class="block hover:text-white px-4 ">name </a>
                    <% } %>
                    <% if(sort === "downloaded") { %>
                    <div class="bg-gradient-to-r from-fuchsia-600 to-purple-800 pl-4 rounded-l-full">download</div>
                    <% } else { %>
                    <a href="/store?sort=downloaded&order=descending" class="block hover:text-white px-4">download </a>
                    <% } %>
                    <% if(sort === "price") { %>
                    <div class="bg-gradient-to-r from-fuchsia-600 to-purple-800 pl-4 rounded-l-full">price</div>
                    <% } else { %>
                    <a href="/store?sort=price&order=ascending" class="block hover:text-white px-4">price</a>
                    <% } %>
                </li>
            </ul>
        </div>
        <!--queries-->
        <div class="bg-cyan-black w-5/6 text-white">
            <div class="p-6">
                <div class="flex pt-3 pb-4 justify-between">

                    <div class="py-1 text-4xl font-normal tracking-widest">
                        DISCOVER
                    </div>

                    <div class="flex flex-col justify-center relative pr-12 z-10" id="dropdown-sort">
                        <img src="img/icons/sort.svg" class="w-12 h-8 bg-white rounded-full">
                        <ul class="top-10 right-10 hidden absolute bg-white text-black">
                            <li class="p-2 border-b-2 hover:bg-cyan-normal hover:text-white"><a
                                    href="/store?sort=<%= sort %>&order=ascending">Ascending</a>
                            </li>
                            <li class="p-2 border-b-2 hover:bg-cyan-normal hover:text-white"><a
                                    href="/store?sort=<%= sort %>&order=descending">Descending</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <% for(d of data){ %>
                <div
                    class="flex p-1 my-1 bg-gradient-to-tr from-gray-300 to-gray-600 transition-transform duration-100 transform hover:-translate-y-1 hover:scale-101">
                    <a href="/gameinfo?name=<%= d.name %>">
                        <img src="img/games/<%= d.image %> " alt="err" class="h-36 w-56 object-cover">
                        <div class="px-3 flex-grow">
                            <div class="text-2xl"><%= d.name %> </div>
                            <div><%= d.downloaded %> Downloads</div>
                            <div><%= d.category.toString().replace(/,/g, " ") %> </div>
                            <div class="flex justify-end pt-4 pr-6">
                                <a class="bg-gray-600 rounded px-2 py-1">
                                    <%= d.price %>
                                    BTC</a>
                            </div>
                        </div>
                    </a>
                </div>
                <% } %>
            </div>
        </div>
    </div>

    <%- include("./footer") %>
</body>

</html>