<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="compiled.css" />
  <title><%= username %>'s STORM Profile</title>

</head>
<style>
  .dropbtn {
    background-color: #6f2cdb;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #3729b9;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}
</style>
<body class="
      font-kanit font-light
      bg-gradient-to-tr
      from-indigo-900
      via-cyan-blackest
      to-cyan-blackest 
      text-white min-h-screen">


  <%- include("./nav") %>
  <!--end of nav-->

  <div class="min-h-no-nav-footer">
    <!--1st section-->
    <div class=" px-32 pt-6">
      <div class="p-3 pb-12 flex">
        <div class="bg-gradient-to-tr from-fuchsia-600 to-purple-800 p-1 rounded-full">
          <div class="bg-white p-1 rounded-full bg-opacity-90">
            <img class="h-48 w-48 rounded-full object-cover" src="img/game_demo/pacma.jpg" alt="">
          </div>
        </div>
        <div class="flex flex-col justify-center px-6 space-y-2">
          <span class="font-normal text-5xl"><%= username %></span>
          <div class="opacity-90">
            <span><%= fName %></span>
            <span><%= lName %></span>
          </div>
        </div>
        <!--edit profile add friend-->
        <div class="flex justify-end flex-auto px-6 dropdown ml-10 mt-16">
          <button onclick="myFunction()" class="dropbtn rounded-lg transition-colors duration-100 hover:text-white hover:border-white ">Option</button>
          <div id="myDropdown" class="dropdown-content">
            <a href="/userinfo-edit">
              Edit Profile</a>
            <a href="/addfriend">
              Add friend</a>
            <a href="/deletefriend">
              Remove friend</a>
            <a href="/UserGroup">
              View Group</a>
            <a href="/CreateGroup">
              Create Group</a>
            <a href="/DeleteGroup">
              Delete Group</a>
            <a href="/history">
              Transaction history</a>
          </div>
        </div>
        </div>
      </div>
      <!--2nd section-->
      <div class="flex justify-evenly pb-12">
        <div class="flex flex-col">
          <div>
            Membership Level
          </div>
          <div class="num-counter"></div>
        </div>
        <div class="flex flex-col">
          <div>
            Achivement completed
          </div>
          <div class="num-counter"></div>
        </div>
        <div class="flex flex-col">
          <div>
            STORM points
          </div>
          <div class="num-counter"></div>
        </div>
      </div>
      <!--3rd section-->
      <div class="flex pb-6">
        <div class="w-3/5">
          <div class="pl-10 uppercase tracking tracking-wider text-xl border-b-2 mr-6">my games</div>
          <% for(game of ownedItem) { %>
          <div class="pl-10 hover:text-blue-300">
            <a href="/gameinfo?name=<%= game.gamename %> "><%= game.gamename %> </a>
          </div>
          <% }%>
        </div>
        <div class="w-1/5">
          <div class="uppercase tracking tracking-wider text-xl border-b-2">
          my friends
        </div>
        <% for(friend of friends) { %>
          <div><%= friend %>
          </div>
          <% }%>
        </div>
      </div>
    </div>
  </div>

  <script>
    function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
    }
    
    window.onclick = function(event) {
      if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }
    </script>
</body>
<footer>
  <%- include ("./footer") %>
</footer>
</html>