<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="compiled.css" />
  <title>Info</title>

</head>
<style>
  div.bottom {
    position: absolute;
    bottom: 0px;
    width: 100%;
  }
</style>

<body class="
      font-kanit font-light
      bg-gradient-to-tr
      from-indigo-900
      via-cyan-blackest
      to-cyan-blackest 
      text-white min-h-screen">


  <%- include("./nav") %>
  <!--end of nav-->

  <!--1st section-->
  <div class=" px-32 pt-6">
    <div class="p-3 pb-12 flex">
      <div class="bg-gradient-to-tr from-fuchsia-600 to-purple-800 p-1 rounded-full">
        <div class="bg-white p-1 rounded-full bg-opacity-90">
          <img class="h-48 w-48 rounded-full object-cover" src="img/game_demo/pacma.jpg" alt="">
        </div>
      </div>
      <div class="flex flex-col justify-center px-6 space-y-2">
        <span class="font-normal text-5xl"><%= username %></span>
        <div class="opacity-90">
          <span><%= fName %></span>
          <span><%= lName %></span>
        </div>
      </div>
      <!--edit profile add friend-->
      <div class="flex justify-end flex-auto px-6">
        <div>
          <a href="/userinfo-edit"
            class="mx-3 px-2 border-2 rounded-lg transition-colors duration-100 hover:bg-white hover:text-purple-800 hover:border-purple-200 ">
            Edit Profile</a>
        </div>
        <div>
          <a href="/addfriend"
            class="mx-3 px-2 border-2 rounded-lg transition-colors duration-100 hover:bg-white hover:text-purple-800 hover:border-purple-200 ">
            Add friend</a>
        </div>
        <div>
          <a href="/deletefriend"
            class="mx-3 px-2 border-2 rounded-lg transition-colors duration-100 hover:bg-white hover:text-purple-800 hover:border-purple-200 ">
            Remove friend</a>
        </div>
        <div>
          <a href="/UserGroup"
            class="mx-3 px-2 border-2 rounded-lg transition-colors duration-100 hover:bg-white hover:text-purple-800 hover:border-purple-200 ">
            View Group</a>
        </div>
        <div>
          <a href="/CreateGroup"
            class="mx-3 px-2 border-2 rounded-lg transition-colors duration-100 hover:bg-white hover:text-purple-800 hover:border-purple-200 ">
            Create Group</a>
        </div>
        <div>
          <a href="/DeleteGroup"
            class="mx-3 px-2 border-2 rounded-lg transition-colors duration-100 hover:bg-white hover:text-purple-800 hover:border-purple-200 ">
            Delete Group</a>
        </div>
      </div>
    </div>

    <!--2nd section-->
    <div class="flex justify-evenly pb-12">
      <div class="flex flex-col">
        <div>
          Membership Level
        </div>
        <div class="num-counter"></div>
      </div>
      <div class="flex flex-col">
        <div>
          Achivement completed
        </div>
        <div class="num-counter"></div>
      </div>
      <div class="flex flex-col">
        <div>
          STORM points
        </div>
        <div class="num-counter"></div>
      </div>
    </div>

    <!--3rd section-->
    <div class="flex pb-6">
      <div class="w-4/5">
        <div>my games</div>
        <% for(game of ownedItem) { %>
        <a href="/gameinfo?name=<%= game.gamename %> ">- <%= game.gamename %> </a><br>
        <% }%>
      </div>
      <div>
        my friends
      </div>
    </div>
  </div>

  <div class="bottom">
    <%- include ("./footer") %>
  </div>

</body>

</html>